
@{
    ViewBag.Title = "Universidad ABC";
    Layout = null;
}
<link rel="stylesheet" href="~/Content/Login.css" />

<header>
    <nav id="navbar">
        <div class="containerMenu">
            <h1><a href="@Url.Action("Index", "Home")">Ofertas Academica</a></h1>
            <ul>
                <li><a href="@Url.Action("About", "Home")"></a></li>
                <li><a href="@Url.Action("Contact", "Home")"></a></li>
                <li><a href="@Url.Action("Login", "Access")">Iniciar Sesión</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">
    <div class="jumbotron text-center">
        <h1>Bienvenido a la Universidad</h1>
        <p>Mira nuestra variedad de carreras.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="tarjeta">
                <div class="titulo">Ingeniería en Seguridad Informatica</div>
                <div class="cuerpo">
                    <img srcset="https://cdn.pixabay.com/photo/2015/05/23/07/52/board-780316_1280.jpg" width="377" alt="Diseño Web, Interfaz De Usuario">
                    Estudia sobre la importacia de la seguridad informatica.
                </div>
                <div class="pie">
                    <a href="#">Más Información</a>
                </div>
            </div>
        </div>

        

        <div class="col-md-6">
            <div class="tarjeta">
                <div class="titulo">Arquitectura</div>
                <div class="cuerpo">
                    <img srcset="https://cdn.pixabay.com/photo/2016/11/24/20/30/floor-plan-1857175_1280.jpg" width="400" alt="Diseño Web, Interfaz De Usuario">
                    Diseña espacios funcionales y estéticos.
                </div>
                <div class="pie">
                    <a href="#">Más Información</a>
                </div>
            </div>
        </div>
    </div>
</div>  
